<!DOCTYPE html>
<html>
<body>

<p id="avg"></p>
<p id="high"></p>
<p id="low"></p>
<p id="tir"></p>
<p id="rec_tir"></p>
<p id="rating"></p>

<div class="stats-card">
    <p class="stat-label">Average Glucose</p>
    <p id="avg"></p>
</div>

<script>
fetch('/stats')
    .then(response => response.json())
    .then(data => {

        console.log(data)
        const a1c = ((data.avg + 46.7) / 28.7).toFixed(1)

        let stars = 0
        if (parseFloat(a1c) < 6.5) {
            stars = 1
        } else if (parseFloat(a1c) >= 6.5 && parseFloat(a1c) < 7.0) {
            stars = 5
        } else if (parseFloat(a1c) >= 7.0 && parseFloat(a1c) < 7.5) {
            stars = 4
        } else if (parseFloat(a1c) >= 7.5 && parseFloat(a1c) < 8.5) {
            stars = 3
        } else if (parseFloat(a1c) >= 8.5 && parseFloat(a1c) < 10.0) {
            stars = 2
        } else {
            stars = 1 // else doesn't take a condition at all, no parentheses, no comparison
        }

        console.log(a1c)

        
        document.getElementById('avg').textContent = data.avg
        document.getElementById('high').textContent = data.high
        document.getElementById('low').textContent = data.low
        document.getElementById('tir').textContent = data.tir
        document.getElementById('rec_tir').textContent = data.rec_tir
        document.getElementById('rating').textContent = '★'.repeat(stars)
    })

</script>

</body>
</html>